pydantic-settings

fastapi
uvicorn[standard]
python-dotenv
SQLAlchemy
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
PyJWT
python-multipart
httpx
requests
jinja2
itsdangerous
cachetools
cryptography
bcrypt

